ion-col {
  text-align: center;
}
.grey-out {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #4A4A4A;
  opacity: .8;
  display: none;
  z-index: 900;
}
.test {
  float: right;
}

