
<ion-header [translucent]="true" *ngIf="isMaster">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
            <ion-button shape="round" expand="block" (click)="changeWord(false)">
              <ion-icon name="sync-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col size="6">
          {{word}}
        </ion-col>
        <ion-col size="3">
            <ion-button shape="round" expand="block" (click)="confirmWorld()">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false">


  <ion-row>
    <ion-col *ngFor="let color of colors" [style.background]="color" class="color-block" tappable
             (click)="selectColor(color)"></ion-col>
  </ion-row>
  <ion-radio-group [(ngModel)]="selectedColor">
    <ion-row>
      <ion-col *ngFor="let color of colors" class="ion-text-center">
        <ion-radio [value]="color"></ion-radio>
      </ion-col>
    </ion-row>
  </ion-radio-group>

  <ion-range min="2" max="20" color="primary" [(ngModel)]="lineWidth">
    <ion-icon size="small" slot="start" name="brush"></ion-icon>
    <ion-icon slot="end" name="brush"></ion-icon>
  </ion-range>

  <canvas #imageCanvas (mousedown)="startDrawing($event)" (touchstart)="startDrawing($event)"
          (touchmove)="moved($event)" (mousemove)="moved($event)" (mouseup)="endDrawing()" (touchend)="endDrawing()"></canvas>

<!--  <ion-button expand="full" (click)="setBackground()">-->
<!--    <ion-icon slot="start" name="image"></ion-icon>-->
<!--    Set Background Image-->
<!--  </ion-button>-->

<!--  <ion-button expand="full" (click)="clearScreen()">-->
<!--    Clear screen-->
<!--  </ion-button>-->
<!--  <ion-button expand="full" (click)="exportCanvasImage()">-->
<!--    <ion-icon slot="start" name="download"></ion-icon>-->
<!--    Export Canvas Image-->
<!--  </ion-button>-->

<!--  <div id="top-message">-->
<!--    <div class="draw hidden" >-->
<!--      <p>The secret word is: <span class="word"></span></p>-->
<!--    </div>-->

<!--    <form id="guess" class="hidden" >-->
<!--      Guess the word! <input name="guess" class="guess-input" type="text">-->
<!--    </form>-->
<!--  </div>-->

</ion-content>


