<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="none">
    <ion-list-header>
      <ion-label>Name</ion-label>
    </ion-list-header>
    </ion-item>
  <ion-item>

    <ion-input placeholder={{userName}} (ionChange)="changeName($event)"></ion-input>
  </ion-item>
<!--  <ion-item>-->
<!--    <ion-label>Room</ion-label>-->
<!--    <ion-list>-->
<!--      <ion-item *ngFor = "let r of roomsArr" value={{r.roomId}}>{{r.roomName}}-->
<!--      </ion-item>-->
<!--    </ion-list>-->

<!--  </ion-item>-->

<!--      <ion-select *ngIf= "roomsArr.length > 0" [(ngModel)]="roomId" (ionChange)="changeRoom($event)">-->
<!--        <ion-select-option *ngFor = "let r of roomsArr" value={{r.roomId}}>{{r.roomName}}</ion-select-option>-->
<!--      </ion-select>-->
  </ion-list>
  <ion-list>
    <ion-item lines="none">
      <ion-list-header>

          <ion-label>Rooms</ion-label>
          <ion-button (click)="findRooms()" color="secondary" size="small" fill="solid">Find</ion-button>
          <ion-button (click)="createRoom()" color="secondary" size="small" fill="solid">Create</ion-button>

      </ion-list-header>
    </ion-item>
<!--    <div *ngIf= "roomsArr.length > 0">-->
    <ion-item *ngFor="let r of roomsArr">{{r.roomName}}
      <ion-button *ngIf="r.roomId !== roomId" (click)="addNewUserToRoom(r.roomId)" size="small" color="secondary" slot="end">
        Select
      </ion-button>

      <ion-button (click)="deleteRoom(r.roomId)" size="small" color="secondary" slot="end">
        Delete
      </ion-button>
    </ion-item>
<!--    </div>-->
  </ion-list>


  <ion-list>
    <ion-item lines="none">
      <ion-list-header>

        <ion-label>Other Rooms</ion-label>
        <ion-button (click)="findOtherRooms()" color="secondary" size="small" fill="solid">Find</ion-button>

      </ion-list-header>
    </ion-item>
    <!--    <div *ngIf= "roomsArr.length > 0">-->
    <ion-item *ngFor="let r of otherRoomsArr">{{r.roomName}}
      <ion-button *ngIf="r.roomId !== roomId" (click)="addNewUserToRoom(r.roomId)" size="small" color="secondary" slot="end">
        Select
      </ion-button>
      <ion-button *ngIf="r.roomId === roomId" (click)="leftRoom(r.roomId)" size="small" color="secondary" slot="end">
        Exit
      </ion-button>
    </ion-item>
    <!--    </div>-->
  </ion-list>


<!--  <ion-item button *ngFor="let r of roomsArr" >-->
<!--    {{r.roomName}}-->
<!--    <ion-button *ngIf= "r.roomId !== roomId" (click)="changeRoom(r.roomId)" size="small" color="secondary">Select</ion-button>-->
<!--    <ion-button (click)="deleteRoom(r.roomId)" size="small" color="secondary">Delete</ion-button>-->
<!--  </ion-item>-->

</ion-content>
